<div class="footer"
    style="background: url('https://sparrowassets.blob.core.windows.net/emailtemplate/Email-footer-bg.png'); padding: 10px 20px;">

    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="vertical-align: middle; padding: 5px; font-size: 14px; font-weight: bold; color: #007BFF;">
                <img width="18px" src="https://i.postimg.cc/jj2tp5Xv/Logo-Symbol.png" alt="Sparrow-logo"
                    style="vertical-align: middle; margin-right: 8px;">
                Sparrow
            </td>
            <td style="vertical-align: middle; padding: 5px; text-align: right;">
                <a href="https://www.linkedin.com/company/techdome-solutions/"
                    style="text-decoration: none; background: none; outline: none;">
                    <img src="https://sparrowassets.blob.core.windows.net/emailtemplate/linkedin.png" alt="linkedin"
                        style="width: 24px; height: 24px; margin-left: 10px; cursor: pointer;">
                </a>
                <a href="https://github.com/sparrowapp-dev/sparrow-app"
                    style="text-decoration: none; background: none; outline: none;">
                    <img src="https://sparrowassets.blob.core.windows.net/emailtemplate/github.png" alt="github"
                        style="width: 24px; height: 24px; margin-left: 10px; cursor: pointer;">
                </a>
                <a href="https://discord.com/invite/thQhnvM42A"
                    style="text-decoration: none; background: none; outline: none;">
                    <img src="https://sparrowassets.blob.core.windows.net/emailtemplate/discord.png" alt="discord"
                        style="width: 24px; height: 24px; margin-left: 10px; cursor: pointer;">
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="text-align: left; font-size: 10px; color: #888; vertical-align: middle; padding: 5px;">
                &copy; 2024 Sparrow. All rights reserved
            </td>
        </tr>
    </table>
</div>