{{!< layoutName}}
<html>
  <head> </head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <body style="">
    <div
      class="welcome-letter"
      style="
        width: 580px;
        margin: auto;
        height: auto;
        border-radius: 4px;
        background: #FFFFFF;
      "
    >

      <div class="container" style="padding: 10%">
        <div
          class="main-container"
          style="margin-bottom: 20px"
        >
          <h1
            class="main-heading"
            style="
             color: var(--colors-neutral-bg-0, #000);
             font-family: Inter;
             font-size: 18px;
             font-style: normal;
             font-weight: 500;
             line-height: 150%; /* 27px */
            "
          >
            Invite to Team
          </h1>
        </div>

        <div style="margin-bottom: 5%">
          <h2

            style="
              color: var(--colors-neutral-bg-3, #333);
             /* p-sm-regular */
             font-family: Roboto;
             font-size: 14px;
             font-style: normal;
             font-weight: 400;
             line-height: 150%; /* 21px */
            "
          >
            Dear {{firstname}},
          </h2>
          <p
            class="welcome-text"
            style="
            
              color: var(--colors-neutral-bg-3, #333);

/* p-sm-regular */
font-family: Roboto !important ;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
            "
          >
            {{username}} has invited you to contribute to the team 
            <span
              class="brand-name"
              style="
                color: var(--colors-neutral-bg-0, #000);

/* p-sm-bold */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%;
              "
            >"{{teamname}}"</span>. Open Sparrow and you will see a new team added in your homepage.
          </p>
          <p
            class="desc-support-text"
            style="
              color: var(--colors-neutral-bg-3, #333);

/* p-sm-regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
            "
          >
            If you need additional assistance please contact us at 
            <span
              class="desc-support-text-brand-name"
              style="
                color: var(--colors-brand-primary, #1193F0);

/* p-sm-regular */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
text-decoration-line: underline;
              "
            >help@sparrow.com</span>
          </p>
        </div>
        <div style = "gap: var(--padding-padding-xxl, 24px);" >
        <div 
        style = "
        width: 100%;
        height: var(--count, 1px);
        border-radius: var(--count, 0px);
        background: var(--colors-neutral-text-2, #E5E5E5);
        margin-top: 28px;
        "
        >
        </div>
        
        <div
          class="ending-lines"
          style="
            color: #e9e8e8;
            text-align: center;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            margin-top: 35px;
            line-height: 180%;
            letter-spacing: 0.8px;
            width: 100%;
          "
        >
          
        </div>
      </div>

      <footer
        class="footer"
        style="
          width: 100%;
          text-align: center;
          height: 162px;
          flex-shrink: 0;
        "
      >
      <img
            style="width: 150px; height: 50px; display: inline-block;"
            src="https://sparrowassets.blob.core.windows.net/publicassest/sparrowemail.png"
            alt="email-icon"
          />
        <p
          class="footer-text"
          style="
            color: var(--colors-fun-placeholder, #8A9299);

           font-family: Open Sans;
           font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
          "
        >
          © 2023 Sparrow. All rights reserved
        </p>

        
          
      
     
      </footer>
    </div>
  </body>
</html>