{{!< layoutName}} <!DOCTYPE html>
    <html lang="en">
 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leave Team</title>
 
 
        <style>
            body {
                font-family: "Inter", sans-serif;
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                transition: background-color 0.3s, color 0.3s;
            }
 
            .container {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
 
            }
 
            .container-data {
                margin: auto;
                max-width: 570px;
                padding: 20px;
                transition: background-color 0.3s, color 0.3s;
            }
 
            .email-text-style {
                color: var(--email-text-color, #333);
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }
        </style>
    </head>
 
    <body>
 
        <div class="container">
            <section style="width: 100%;">
                <div class="container-data">
 
                    {{> header}}
 
                    <section>
 
                        <div style="margin-bottom: 5%">
                            <h2 class="email-text-style">
                                Hi {{ownerName}},
                            </h2>
 
                            <p class="welcome-text email-text-style">
                                Congratulations on becoming the new owner of {{teamName}} team on Sparrow! This role
                                empowers you to lead and shape the future direction of {{teamName}} team.
                            </p>
 
                            <p class="email-text-style">Please log in to Sparrow to explore your new responsibilities and opportunities. We're
                                excited to see how your leadership will inspire the team to reach new heights!
                            </p>
 
                            <p class="welcome-text email-text-style">
                                Warm regards, <br> The Sparrow Team <br>
                                <a href="https://sparrowapp.dev"
                                    style="font-weight: 400; text-decoration: none; color: #3670F7; border-bottom: 1px solid #3670F7 ;">
                                    www.sparrowapp.dev</a>
                            </p>
 
                        </div>
 
                        <hr>
 
                    </section>
 
 
                    {{> footer}}
 
 
                </div>
            </section>
        </div>
    </body>
 
    </html>