{{!< layoutName}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sparrow Reset Password</title>
</head>
<body style="background-color: white;">
  <h1>Dear {{name}} </h1>
  <p>We have Recieved Your Request to reset your Password.Please use the verification code below to complete the rest </p>
  <p>The verification code is valid for 1 min</p>
  <p style="color: blue;       /* Set the text color to blue */
    font-size: 20px; ">{{verificationCode}}</p>
  <p>The verification code is valid for 1 min</p>
  <p>Please do not share verification code</p>
  <p>If you need additional assistance or you did not make this change, please contact us at <span style="text-decoration-line: underline;">help@sparrow.com</span></p>
</body>
</html>