{{!< layoutName}}
<html>
  <head> </head>

  <title>Welcome to Sparrow App!</title>

  <body style="">
    <div
      class="welcome-letter"
      style="
        width: 645px;
        margin: auto;
        height: auto;
        border-radius: 4px;
        background: #1e1e1e;
      "
    >
      <header
        class="header"
        style="
          background-color: #1e1e1e;
          justify-content: space-between;
          display: flex;
          
          padding: 10px 20px 10px 10px;
        "
      >
        <img
          class="logo"
          style="width: 108px; height: 41px"
          src="https://sparrowassets.blob.core.windows.net/publicassest/sparrow-logo.png"
        />
        <div
          class="contacts-container"
          style="display: flex; margin-left: 250px;"
        >
          <a
            href="https://www.linkedin.com/showcase/sparrow-app/"
            target="_blank"
            style="margin-left: 25px; margin-top: auto; margin-bottom: auto"
          >
            <img
              style="width: 18px; height: 19px"
              src="https://sparrowassets.blob.core.windows.net/publicassest/linkedin-icon.png"
              alt="linkedin-icon"
            />
          </a>
          <a
            href="https://discord.gg/qRDKzANm63"
            target="_blank"
            style="margin-left: 25px; margin-top: auto; margin-bottom: auto"
          >
            <img
              style="width: 25px; height: 20px"
              src="https://sparrowassets.blob.core.windows.net/publicassest/discord-icon.png"
              alt="discord-icon"
            />
          </a>
          <a
            href="mailto:contact@sparrowapp.dev"
            class="contact-btn"
            style="
              margin-left: 25px;
              margin-top: auto;
              margin-bottom: auto;
              text-decoration: none;
              background-color: transparent;
              border: 0;
              display: flex;
            "
          >
            <img
              style="
                width: 15px;
                height: 15px;
                margin-right: 8px;
                margin-top: auto;
                margin-bottom: auto;
              "
              src="https://sparrowassets.blob.core.windows.net/publicassest/contact-us-globe.png"
              alt="contact-us"
            />
            <p
              class="text-header"
              style="
                text-decoration: none;
                margin-top: auto;
                margin-bottom: auto;
                color: var(--colors-neutral-text-1, #f5f5f5);
                font-family: 'Urbanist', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0.7px;
              "
            >
              Contact us
            </p>
          </a>
        </div>
      </header>

      <div class="container" style="padding: 10%">
        <div
          class="main-container"
          style="text-align: center; margin-bottom: 10%"
        >
          <h1
            class="main-heading"
            style="
              color: #e9e8e8;
              font-family: 'Urbanist', sans-serif;
              font-size: 24px;
              font-style: normal;
              margin-bottom: 5px;
              font-weight: 700;
              line-height: 150%;
            "
          >
            Step into the world of
            <span
              class="brand-name"
              style="
                color: #6147ff;
                font-family: 'Urbanist', sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
              "
            >Sparrow.</span>
          </h1>
          <p
            class="main-heading-sub-text"
            style="
              color: #e9e8e8;
              font-family: 'Urbanist', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: 0.7px;
            "
          >
            We’re thrilled to have you
            <span
              class="username"
              style="
                color: #e9e8e8;
                font-family: 'Urbanist', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: 0.7px;
              "
            ></span>!
          </p>
        </div>

        <div class="welcome-container" style="margin-bottom: 5%">
          <h2
            class="welcome-heading"
            style="
              color: #e9e8e8;
              font-family: 'Urbanist', sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 180%;
              margin-bottom: 5px;
              letter-spacing: 0.9px;
            "
          >
            Welcome to the Sparrow Community!
          </h2>
          <p
            class="welcome-text"
            style="
              color: var(--colors-neutral-bg-0, #e9e8e8);
              font-family: 'Urbanist', sans-serif;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 180%;
              letter-spacing: 0.6px;
              width: 480px;
              height: 84px;
              flex-shrink: 0;
            "
          >
            As we continue to work tirelessly to bring our products and services
            to life, please know that we're dedicated to ensuring the highest
            quality, innovation, and excellence. Early access is on the horizon,
            and we will keep you updated about every step of the way.
          </p>
        </div>
        <div>
          <h3
            class="desc-heading"
            style="
              color: #e9e8e8;
              font-family: 'Urbanist', sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 180%;
              margin-bottom: 5px;
              letter-spacing: 0.9px;
            "
          >
            We are more than just an API Tool -
          </h3>
          <p
            class="desc-support-text"
            style="
              color: #e9e8e8;
              font-family: 'Urbanist', sans-serif;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: 0.6px;
              margin-bottom: 15px;
            "
          >
            With
            <span
              class="desc-support-text-brand-name"
              style="
                color: #e9e8e8;
                font-family: 'Urbanist', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: 0.6px;
              "
            >Sparrow</span>
            you can count on...
          </p>

          <div
            class="feat-list-container"
            style="
              background-image: url(https://sparrowassets.blob.core.windows.net/publicassest/more-info-mobile.png);
              background-color: transparent;
              background-position: right center;
              background-size: 40% 80%;
              background-repeat: no-repeat;
            "
          >
            <div class="feat-01-container" style="margin-bottom: 20px">
              <h3
                class="feat-01-heading"
                style="
                  font-family: 'Poppins', sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  letter-spacing: 0.7px;
                  color: #e8246e;
                "
              >
                Collaborations
              </h3>
              <p
                class="feat-desc feat-01-desc"
                style="
                  color: #e9e8e8;
                  font-family: 'Urbanist', sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 180%;
                  letter-spacing: 0.6px;
                  width: 274px;
                "
              >
                Find the right equilibrium between functionality and intricacy.
                Expand workflows when necessary and trim excess when it's not.
              </p>
            </div>
            <div class="feat-02-container" style="margin-bottom: 20px">
              <h3
                class="feat-02-heading"
                style="
                  color: #e8246e;
                  font-family: 'Poppins', sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  letter-spacing: 0.7px;
                "
              >
                Instant Testing environments
              </h3>
              <p
                class="feat-desc feat-02-desc"
                style="
                  color: #e9e8e8;
                  font-family: 'Urbanist', sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 180%;
                  letter-spacing: 0.6px;
                  width: 225px;
                "
              >
                Experience effortless parallel testing across diverse
                environments so you get the insights on the go.
              </p>
            </div>
            <div class="feat-03-container" style="margin-bottom: 20px">
              <h3
                class="feat-03-heading"
                style="
                  color: #c62390;
                  font-family: 'Poppins', sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  letter-spacing: 0.7px;
                "
              >
                Governance
              </h3>
              <p
                class="feat-desc feat-03-desc"
                style="
                  color: #e9e8e8;
                  font-family: 'Urbanist', sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 180%;
                  letter-spacing: 0.6px;
                  width: 237px;
                "
              >
                By collaborations, developers can shift their development
                practices earlier in the process, leading to higher-quality APIs
                and faster development.
              </p>
            </div>
            <div class="feat-04-container" style="margin-bottom: 20px">
              <h3
                class="feat-03-heading"
                style="
                  font-family: 'Poppins', sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  letter-spacing: 0.7px;
                  color: #c62390;
                "
              >
                Multi Protocol Support & sharing
              </h3>
              <p
                class="feat-desc feat-04-desc"
                style="
                  color: #e9e8e8;
                  font-family: 'Urbanist', sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 180%;
                  letter-spacing: 0.6px;
                  width: 282px;
                "
              >
                Effortlessly manage, categorize, share, and run HTTP, REST,
                GraphQL, gRPC, SOAP, and WebSockets requests seamlessly.
              </p>
            </div>
          </div>
        </div>
        <div
          class="ending-lines"
          style="
            color: #e9e8e8;
            text-align: center;
            font-family: 'Urbanist', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            margin-top: 60px;
            line-height: 180%;
            letter-spacing: 0.8px;
            width: 100%;
          "
        >
          <h2>
            We'll keep you in the loop about early access. Thanks again for
            choosing Sparrow!
          </h2>
        </div>
      </div>

      <footer
        class="footer"
        style="
          width: 647px;
          text-align: center;
          height: 162px;
          flex-shrink: 0;
          background: var(--colors-fun-hover, #232424);
        "
      >
        <p
          class="footer-text"
          style="
            color: var(--colors-neutral-text-3, #ccc);
            text-align: center;
            font-family: 'Urbanist', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            width: 90%;
            margin: auto;
            padding: 20px;
            letter-spacing: 0.6px;
          "
        >
          If you ever have questions, need assistance, or run into any issues,
          you can email us and our team will reach back to you as soon as
          possible.
        </p>

        <a
          href="mailto:contact@sparrowapp.dev"
          class="email-btn-footer"
          style="
            border-radius: 5px;
            background: var(
              --gradiant-1,
              linear-gradient(90deg, #6147ff 0%, #1193f0 100%)
            );
            display: inline-block;
            padding: 2px 18px;
            align-items: center;
            gap: var(--padding-padding-md, 8px);
            text-decoration: none;
          "
        >
          <img
            style="width: 16px; height: 15px; display: inline-block; margin-right: 3px;"
            src="https://sparrowassets.blob.core.windows.net/publicassest/email-icon.png"
            alt="email-icon"
          />
          <p
            class="email-btn-footer-text"
            style="
              color: var(--colors-neutral-text-0, #fff);
              font-family: 'Urbanist', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
              letter-spacing: 0.7px;
              display: inline-block;
              text-decoration: none;
            "
          >
            Email us
          </p>
        </a>
      </footer>
    </div>
  </body>
</html>